img {
    width: 100%;
    height: 100%;
}
.navbar {
background-image: url(https://s3-alpha-sig.figma.com/img/46a0/d217/c2bd7d5ef2cfc0e9c3123a65be598575?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QqGvXDkobD~Kk5RrYv4qTASQo6XB4jFMFzWzFlNliGNIhlCV5fO0AreHJQoJ6xroRuiiHD7WfEsMm9gwXt6LaCHdBN8M7b-levD8j7in9860A2Ag6wh4m3SWslfSufpqYyEAYSZR~v-DwXYj2okGE5gbr91xndR0HODD1II-8bf6aa1idznM8O43W6ys4mUKPdrWV8iOISU4flQeFt4uZY2WYrwgtJCz2dE0wWN4x7hQvu7Tiao2E2bXTWgT~6eb6u8c4AYivqcZsuGBvK7~SDVOV-S3oeIlG~LyR0t0zAXSFQ8qV~OUYwRdxKZlF3nC-YsFCZerm0O2BGSeYA6j4g__);
background-repeat: no-repeat;
}

