* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: antiquewhite;
    .icon-menu {
        display: none;
    }
    .right {
        display: flex;

        ul {
            display: flex;
            list-style: none;
            li {
                margin: 0 10px;
            }
        }
    }
}
.discover {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    gap: 15px;
    .box-content {
        padding: 15px;
        border: 1px solid black;
        border-top: none;
    }
}
.photo {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    gap: 20px;
    height: 500px;
    .box1 {
        grid-area: b1;
    }
    .box2 {
        grid-area: b2;
    }
    .box3 {
        grid-area: b3;
    }
    .box4 {
        grid-area: b4;
    }
}

/* laptop */
 @media screen and (min-width: 1025px){
      .discover {
        grid-template-columns: repeat(4,1fr);
      }
     .photo {
        grid-template-areas:
        "b1 b1 b2"
        "b3 b3 b4"
        ;
     }
 }

 /* tablet */
 @media screen and (min-width: 741px) and (max-width: 1024px){
    .discover {
        grid-template-columns: repeat(2,1fr);
      }
      .photo {
        grid-template-areas:
        "b1 b1"
        "b3 b3"
        "b2 b4"
        ;
     }

 }

 /* mobile */
 @media screen and (max-width: 740px){
    header {
    .icon-menu {
       display: block;
       position: relative;
        &:hover ul {
            display: block;
        }
       ul {
        list-style: none;
        background-color: aqua;
        position: absolute;
        display: none;
         li {
            padding: 5px 30px;
            border-bottom: 1px solid black;
            &:hover {
                background-color: rgb(255, 255, 255);
            }
         }
       }
    }
    .right {
      ul {
        display: none;
      }
    }
}
.photo {
    grid-template-areas:
    "b1"
    "b3"
    "b2"
    "b4"
    ;
 }
 }
